.background{
  background-color: #404040;
  font-family: 'Fjalla One', sans-serif;
  padding-bottom: 5%;
}

/*title*/
.app-title {
	font: 1rem;
	color: #888;
	padding: 10px; 
	margin-bottom: 50px;
}
/*NavBar*/

#nav-bar{
  width: 100%;
  font-family: 'Fjalla One', sans-serif;
}
.nav-button{
  margin-left: 5%;
  margin-right: 15%;
  color: #000;
  font-size: 1.5em;
  text-decoration: none;
}

.active-nav-button{
  text-decoration: underline;
}

/*frame to display movies*/
.frameDisplayMovies {
  
  border: 0.2rem outset #555;
/*
  border-radius: 6px;*/
  font: bold 1rem sans-serif;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.2rem;
  padding: 5%;

}